*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties

# Keystore passwords are in gradle.properties - do not commit
gradle.properties
